
fowlers_gap/ternary.png
fowlers_gap/validation.png
witchelina/timeseries.png
fowlers_gap/warrens_comparison.png
fowlers_gap/warrens_timeseries.png
fowlers_gap/warrens_timeseries_zoom.png
fowlers_gap/exclosure_timeseries.png
fowlers_gap/warrens_longterm_grazing_effect.png
witchelina/accuracy_thresholds.csv
witchelina/accuracy_thresholds.xlsx
dunes_on_fire/tmpft0tssf2.img
sentinel2_water/best_waterindex_roc_curves.png
sentinel2_water/reference_data.csv
sentinel2_water/waterindex_roc_curves_purepixels.png
sentinel2_water/waterindex_roc_curves_allpixels.png
dunes_on_fire/schema.ini
fowlers_gap/satellite_phenocam.png
fowlers_gap/satellite_phenocam_2004-2024.png
fowlers_gap/satellite_phenocam_2022-2023.png
phenocams/fowlersgap_conservation_fenced_daily_timelapse.mp4
phenocams/fowlersgap_warrens_1_daily_timelapse.mp4
