
fowlers_gap/ternary.png
fowlers_gap/validation.png
witchelina/timeseries.png
fowlers_gap/warrens_comparison.png
fowlers_gap/warrens_timeseries.png
fowlers_gap/warrens_timeseries_zoom.png
fowlers_gap/exclosure_timeseries.png
fowlers_gap/warrens_longterm_grazing_effect.png
witchelina/accuracy_thresholds.csv
witchelina/accuracy_thresholds.xlsx
dunes_on_fire/tmpft0tssf2.img
sentinel2_water/best_waterindex_roc_curves.png
sentinel2_water/reference_data.csv
